doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Tyre Wizards is a professional tyre fitting service in Leicester. We offer a wide range of tyres for all makes and models of vehicles. Our team of experts is dedicated to providing quality, reliable, and affordable tyre solutions. Contact us today for all your tyre needs.')
        meta(name='author', content='')

        title Tyre Wizards - Leicester

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container.px-5
                a.navbar-brand(href='/') Tyre Wizards
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(aria-current='page', href='#!') Home
                        li.nav-item
                            a.nav-link(href='/about') About

        // Page Content
        .container.px-4.px-lg-5

            // Heading Row
            .row.gx-4.gx-lg-5.align-items-center.my-5
                .col-lg-7
                    img.img-fluid.rounded.mb-4.mb-lg-0(src='/assets/logo.png', alt='Tyrewizards logo')

                .col-lg-5
                    h1.font-weight-light Tyre Wizards - Leicester
                    p
                        | Welcome to Tyre Wizards, your number one source for all things tyres. We're dedicated to giving you the very best of tyres, with a focus on quality, reliability and customer service.
                    a.btn.btn-primary(href='mailto:leicestertyrewizards@outlook.com') Get in touch!

            // Call to Action
            .card.text-white.bg-secondary.my-5.text-center
                .card-body
                    p.text-white.m-0
                        | Our team of experts are here to help you with all your tyre needs. Whether you need new tyres, a puncture repair or a wheel alignment, we've got you covered. Get in touch today to find out more.

            // Content Row
            .row.gx-4.gx-lg-5
                .col-md-4.mb-5
                    .card.h-100
                        .card-body
                            h2.card-title Part Worn Tyres
                            p.card-text
                                | We have a wide range of part worn tyres available for all makes and models. Our team of experts will help you find the perfect tyre for your vehicle.
                        .card-footer
                            a.btn.btn-primary.btn-sm(href='#') £25 Fitted

                .col-md-4.mb-5
                    .card.h-100
                        .card-body
                            h2.card-title New Tyres
                            p.card-text
                                | We stock a wide range of new tyres from leading brands. Our team of experts will help you find the perfect tyre for your vehicle.
                        .card-footer
                            a.btn.btn-primary.btn-sm(href='#') £39.99 Fitted

                .col-md-4.mb-5
                    .card.h-100
                        .card-body
                            h2.card-title Wheel Balancing
                            p.card-text
                                | We offer a wheel balancing service to ensure your vehicle drives smoothly. 
                        .card-footer
                            a.btn.btn-primary.btn-sm(href='/#') from £10

        // Footer
        footer.py-5.bg-dark
            .container.px-4.px-lg-5
                p.m-0.text-center.text-white Copyright &copy; TyreWizards Leicester 2024

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
